header{
    padding-left: 90px;   
    background-color:orange;
        color:#ffffff ;
        }
    
.ofertas {
            background-color: black;
            color:white;
            width: 138 px;
            top: 4 px;
}

.idioma2 {


}